html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 3px, solid, black;
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

.items {
    border: 1px, solid, black;
    box-sizing: border-box;
}

.color {
    background-color: black;
}

button {
    order: -1;
}